{% extends 'callManager/base.html' %}

{% block title %}Add Worker - Callman{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-6 text-text-heading dark:text-dark-text-primary">Add a New Worker</h1>
    
    <div class="bg-card-bg p-6 rounded-lg shadow-md max-w-2xl mx-auto dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <form method="post">
            {% csrf_token %}
            <div class="space-y-4">
                <div>
                    <label for="{{ form.name.id_for_label }}" class="block text-text-tertiary font-semibold mb-1 dark:text-dark-text-tertiary">Name</label>
                    {{ form.name }}
                </div>
                <div>
                    <label for="{{ form.phone_number.id_for_label }}" class="block text-text-tertiary font-semibold mb-1 dark:text-dark-text-tertiary">Phone Number</label>
                    {{ form.phone_number }}
                </div>
                <div>
                    <label class="block text-text-tertiary font-semibold mb-1 dark:text-dark-text-tertiary">Labor Types</label>
                    {{ form.labor_types }}
                </div>
            </div>
            <button type="submit" class="mt-6 bg-primary text-dark-text-primary p-2 rounded hover:bg-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary-hover">Add Worker</button>
            <a href="{% url 'worker_list' %}" class="mt-4 inline-block text-primary hover:underline dark:text-dark-text-blue dark:hover:text-dark-primary-hover">Cancel</a>
        </form>
    </div>
{% endblock %}
