{% extends 'callManager/base.html' %}
{% block title %}Confirm Time Change - CallMan{% endblock %}
{% block content %}
    <div class="max-w-md mx-auto p-6 bg-card-bg rounded-lg shadow-md dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h1 class="text-2xl font-bold mb-4 text-text-heading dark:text-dark-text-primary">Confirm Time Change</h1>
        {% if messages %}
            <p class="text-text-primary mb-4 dark:text-dark-text-primary">Your confirmation has been processed.</p>
            <a href="{% url 'user_profile' %}" class="inline-block text-primary hover:underline dark:text-dark-text-blue dark:hover:text-dark-primary-hover">Go to User Profile</a>
        {% else %}
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">Please confirm the time change for <b>{{ event_name }} - {{ call_time_name }}</b>.</p>
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">The time has changed from <b>{{ original_time }} to {{ new_time }}</b>.</p>
            
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="flex items-center">
                        <input type="checkbox" name="cant_do_it" value="True" id="cant-do-checkbox" class="mr-2">
                        <span class="text-text-primary dark:text-dark-text-primary">I can't work the new time</span>
                    </label>
                </div>
                
                <div id="message-field" class="mb-4 hidden">
                    <textarea name="message" class="w-full p-2 border rounded" placeholder="Optional message"></textarea>
                </div>
                
                <button type="submit" class="bg-primary text-dark-text-primary px-4 py-2 rounded hover:bg-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary-hover">
                    Confirm Time Change
                </button>
            </form>
        {% endif %}
    </div>

    <script>
        document.getElementById('cant-do-checkbox').addEventListener('change', function() {
            const messageField = document.getElementById('message-field');
            if (this.checked) {
                messageField.classList.remove('hidden');
            } else {
                messageField.classList.add('hidden');
            }
        });
    </script>
{% endblock %}
