{% extends 'callManager/base.html' %}

{% block title %}Confirmation Success - CallMan{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto p-6 bg-card-bg rounded-lg shadow-md dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h1 class="text-2xl font-bold mb-4 text-text-heading dark:text-dark-text-primary">Confirmation Submitted</h1>
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">Thank you for responding</p>
        <h2 class="text-xl font-semibold mb-2 text-text-primary dark:text-dark-text-primary"><strong>{{ event.event_name }}</strong></h2>
        {% if available_call_times or confirmed_call_times %}
            {% if confirmed_call_times %}
                <h2 class="text-xl font-semibold mb-2 text-text-primary dark:text-dark-text-primary">Confirmed Call Times</h2>
                <ul class="list-disc pl-5 mb-4">
                    {% for item in confirmed_call_times %}
                        <li class="text-text-primary dark:text-dark-text-primary">
                            {{ item.call_time.name }} on {{ item.call_time.date|date:"F j, Y" }} at {{ item.call_time.time|time:"h:i A" }} @ {{ item.call_time.event.location_profile.name }} ( {{ item.position }})
                            <a href="{{ item.gcal_url }}" target="_blank" class="text-primary hover:underline dark:text-dark-text-blue dark:hover:text-dark-primary-hover">Add to Google Calendar</a>
                            {% if item.message %}
                                <p class="text-text-secondary mt-1 dark:text-dark-text-secondary">{{ item.message }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if available_call_times %}
                <h2 class="text-xl font-semibold mb-2 text-text-primary dark:text-dark-text-primary">You have indicated availability for the following call times:</h2>
                <hr class="border-t border-text-secondary dark:border-dark-text-secondary mb-4">
                <ul class="list-disc pl-5 mb-4">
                    {% for item in available_call_times %}
                        <li class="text-text-primary dark:text-dark-text-primary">
                            {{ item.labor_requirement.call_time.name }} on {{ item.labor_requirement.call_time.date|date:"F j, Y" }} at {{ item.labor_requirement.call_time.time|time:"h:i A" }} @ {{ item.labor_requirement.call_time.event.location_profile.name }} ( {{ item.labor_requirement.labor_type }})
                            {% if item.labor_requirement.call_time.message %}
                                <p class="text-text-secondary mt-1 dark:text-dark-text-secondary">{{ item.labor_requirement.call_time.message }}</p>
                                {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <!-- horizonntal line -->
                <hr class="border-t border-text-secondary dark:border-dark-text-secondary mb-4">
                <p class="text-text-primary mb-4 dark:text-dark-text-primary">You will be notified by text when confirmed.</p>

            {% endif %}
            {% if not user.is_authenticated %}
            <p class="text-text-primary mb-4 dark:text-dark-text-primary">You can register <a href="{{ registration_url }}" class="text-primary hover:underline dark:text-dark-text-blue dark:hover:text-dark-primary-hover">here</a>.</p>
            Registration is not required or necessary.
            {% endif %}
        {% else %}
            <p class="text-text-secondary mb-4 dark:text-dark-text-secondary">Your availability response has been recorded. You will be notified when confirmed.</p>
        {% endif %}
    </div>
{% endblock %}
