{% extends 'callManager/base.html' %}
{% block title %}QR Code for {{ worker.name }} - {{ event.event_name }}{% endblock %}
{% block content %}
    <div class="max-w-2xl mx-auto p-6 bg-card-bg rounded-lg shadow-md dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h1 class="text-2xl font-bold mb-4 text-text-heading dark:text-dark-text-primary">QR Code for {{ worker.name }} - {{ event.event_name }}</h1>
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">Use this QR code to sign in and out at {{event.event_name}}.</p>
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">Scan the QR code with the Steward or at the Sign In station.</p>
        <img src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code" class="mx-auto mb-4">
    </div>
{% endblock %}
