{% extends 'callManager/base.html' %}
{% block title %}Welcome to CallMan{% endblock %}
{% block content %}
    <div class="max-w-4xl mx-auto p-6 bg-card-bg rounded-lg shadow-md dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h1 class="text-3xl font-bold mb-4 text-text-heading dark:text-dark-text-primary">CallManager. Intelligent evolution of the call sheet.</h1>
        <p class="ml-5 text-text-primary mb-4 dark:text-dark-text-primary">
            How much time do you spend on your phone sending text messages and checking to see if people have responded.
            Marking them down on a sheet of paper. How about updating people on a call time change.
        </p>
        <p class="ml-5 text-text-primary mb-4 dark:text-dark-text-primary">
            Callman can help get that time back.
        <h2 class="text-xl font-semibold mb-2 text-text-heading dark:text-dark-text-primary">
            Key features: 
        </h2>

        <p class="ml-5 text-text-primary mb-4 dark:text-dark-text-primary">
            
        </p>
    </div>
{% endblock %}
