{% extends 'callManager/base.html' %}
{% block title %}Welcome to CallMan{% endblock %}
{% block content %}
    <div class="max-w-4xl mx-auto p-6 bg-card-bg rounded-lg shadow-md dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h1 class="text-3xl font-bold mb-4 text-text-heading dark:text-dark-text-primary">Welcome to CallMan</h1>
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">
            Callman is a a powerful labor management tool designed specifically for the events industry. It aims to
            change as little as possible about the way that your company works. It doesn't take over your business or demand that your
            employees sign up for and use some new service. They won't by the way.
        </p>
        <h2 class="text-xl font-semibold mb-2 text-text-heading dark:text-dark-text-primary">What CallMan Does Differently.</h2>
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">Where other applications in this field were clearly adapted from existing software, 
        CallMan was built from the ground up with only event labor management in mind. Everyone from prim and proper corporate event staff with their
        fresh blacks to festival pirates swinging from hammocks. For them things will barely change. No app, no special calendar that they'll now have to keep track of
        in addition to all the other "All in one solutions" that plague this space. </p>

        <p class="text-text-primary mb-4 dark:text-dark-text-primary">
        Your people will be updated through texts the same way they always have been. They'll have the gig info in their texts, new gigs come through texts, 
        call time changes come through texts. Confirmations, cancelations, birthdays, your moms dinner party, TEXTS!
        <p>

        <p class="text-text-primary mb-4 dark:text-dark-text-primary">Where things really change is for you. 
        For you there is no more hunting through a giant list of people to see who has confirmed, writing them down on a piece of paper or marking them confirmed
        on a spread sheet. No more writing out a huge text message with all the info, copying and pasting to everyone on the gig then having to backpedal when you accidentally
        send the wrong person a Head Rigger text and have to now spend 5 minutes talking to them about how they'll "Get their chance". No more group texts with everyone 
        asking who the hell everyone else is and begging them to stop replying to all at 3AM. No more scrolling through your massive list of conversations to figure find information.
        </p> 
            
        <p class="text-text-primary mb-4 dark:text-dark-text-primary">It doesn't add a bunch of ridiculous steps to your process put there by people who don't have a clue
        how this works. It removes steps and provides you with tools to save you time and energy and stress.</p>

        <p class="text-text-primary mb-4 dark:text-dark-text-primary">How much is your time worth.<p>
    </div>
{% endblock %}
