
        <table class="w-full" id="users-table">
            <thead>
                <tr>
                    <th class="p-2 text-left text-text-heading dark:text-dark-text-primary">Username</th>
                    <th class="p-2 text-left text-text-heading dark:text-dark-text-primary">Email</th>
                    <th class="p-2 text-left text-text-heading dark:text-dark-text-primary">owner</th>
                    <th class="p-2 text-left text-text-heading dark:text-dark-text-primary">manager</th>
                    <th class="p-2 text-left text-text-heading dark:text-dark-text-primary">steward</th>
                    <th class="p-2 text-left text-text-heading dark:text-dark-text-primary">company</th>
                    <th class="p-2 text-left text-text-heading dark:text-dark-text-primary">login as</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td class="p-2 text-text-tertiary dark:text-dark-text-tertiary">{{ user.username }}</td>
                    <td class="p-2 text-text-tertiary dark:text-dark-text-tertiary">{{ user.email }}</td>
                    <td class="p-2 text-text-tertiary dark:text-dark-text-tertiary">{{ user.owner }}</td>
                    <td class="p-2 text-text-tertiary dark:text-dark-text-tertiary">{{ user.manager }}</td>
                    <td class="p-2 text-text-tertiary dark:text-dark-text-tertiary">{{ user.steward }}</td>
                    <td class="p-2 text-text-tertiary dark:text-dark-text-tertiary">{{ user.manager.company }}</td>
                    <td class="p-2 text-text-tertiary dark:text-dark-text-tertiary">
                        <a href="{% url 'admin_login_as_user' user.id %}" class="bg-primary text-dark-text-primary px-2 py-1 rounded hover:bg-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary-hover">Login</a>
                        </td>
                </tr>
                {% endfor %}
            </thead>
        </table>

