{% extends 'callManager/base.html' %}
{% load callman_tags %}
{% block title %}Manager Dashboard - {{ company.name }}{% endblock %}
{% block content %}
<h1 class="text-3xl font-bold mb-6 text-text-heading dark:text-dark-text-primary">{{ company.name }} Dashboard</h1>
<div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
    <div class="bg-card-bg p-4 rounded-lg shadow dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h2 class="text-lg font-semibold text-text-tertiary dark:text-dark-text-tertiary">Total Events</h2>
        <p class="text-2xl font-bold text-text-blue dark:text-dark-text-blue">{{ total_events }}</p>
    </div>
    <a href="{% url 'pending_requests' %}" class="bg-card-bg p-4 rounded-lg shadow dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h2 class="text-lg font-semibold text-text-tertiary dark:text-dark-text-tertiary">Pending Requests</h2>
        <p class="text-2xl font-bold text-text-blue dark:text-dark-text-blue">{{ pending_requests }}</p>
    </a>
    <a href="{% url 'declined_requests' %}" class="block bg-card-bg p-4 rounded-lg shadow dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h2 class="text-lg font-semibold text-text-tertiary dark:text-dark-text-tertiary">Declined</h2>
        <p class="text-2xl font-bold text-text-blue dark:text-dark-text-blue">{{ declined }}</p>
    </a>
    <a href="{% url 'sms_usage_report' %}" class="block bg-card-bg p-4 rounded-lg shadow dark:bg-dark-card-bg dark:shadow-dark-shadow">
        <h2 class="text-lg font-semibold text-text-tertiary dark:text-dark-text-tertiary">SMS Sent: {{ current_month_name }}</h2>
        <p class="text-2xl font-bold text-text-blue dark:text-dark-text-blue">{{ sent_messages }}</p>
    </a>
</div>
{% if not has_skills or not has_locations or not has_workers %}
<h2 class="text-xl font-semibold mb-2 text-text-heading dark:text-dark-text-primary">Things to do:</h2>
<ul class="list-disc pl-5 pb-2">
    {% if not has_skills %}
    <li class="text-text-secondary dark:text-dark-text-secondary">Add Skills/Job Types: use the add/edit skills button.</li>
    {% endif %}
    {% if not has_workers %}
    <li class="text-text-secondary dark:text-dark-text-secondary">Add Contacts: use the import contacts button to get the contacts off your phone or add them manually using the add/edit contacts button.</li>
    {% endif %}
    {% if not has_locations %}
    <li class="text-text-secondary dark:text-dark-text-secondary">Add Locations: use the manage locations button.</li>
    {% endif %}
</ul>
{% endif %}
<div class="mb-6 flex space-x-4">
    <a href="{% url 'create_event' %}" class="bg-primary text-dark-text-primary p-2 rounded hover:bg-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary-hover">Create New Event</a>
    <a href="{% url 'view_skills' %}" class="bg-secondary {% if not has_skills %} ring-2 ring-red-500 {% endif %} text-dark-text-primary p-2 rounded hover:bg-secondary-hover dark:bg-dark-secondary dark:hover:bg-dark-secondary-hover">Edit/Add Skills</a>
    <a href="{% url 'view_workers' %}" class="bg-purple {% if not has_workers %} ring-2 ring-red-500 {% endif %} text-dark-text-primary p-2 rounded hover:bg-purple-hover dark:bg-dark-purple dark:hover:bg-dark-purple-hover">Contacts/Workers</a>
    <a href="{% url 'steward_invite' %}" class="bg-teal text-dark-text-primary p-2 rounded hover:bg-teal-hover dark:bg-dark-teal dark:hover:bg-dark-teal-hover">Invite Steward</a>
    <a href="{% url 'location_profiles' %}" class="bg-yellow {% if not has_locations %} ring-2 ring-red-500 {% endif %} text-dark-text-primary p-2 rounded hover:bg-yellow-hover dark:bg-dark-yellow dark:hover:bg-dark-yellow-hover">Manage Locations</a>
    <a href="{% url 'worker_self_add_qr' company.slug %}" class="bg-green text-dark-text-primary p-2 rounded hover:bg-green-hover dark:bg-dark-green dark:hover:bg-dark-green-hover">Worker Self Add QR</a>
</div>
<div class="bg-card-bg p-6 rounded-lg shadow dark:bg-dark-card-bg dark:shadow-dark-shadow">
    <h2 class="text-xl font-semibold mb-4 text-text-heading dark:text-dark-text-primary">Upcoming Events</h2>
    <form method="get" class="mb-4 flex items-center space-x-4">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Search by name, month, date, or location" class="w-full p-2 border rounded bg-card-bg text-text-tertiary dark:bg-dark-card-bg dark:text-dark-text-tertiary dark:border-dark-border" hx-get="{% url 'search_events' %}" hx-target="#events-list" hx-swap="outerHTML" hx-trigger="keyup changed delay:300ms, change" hx-include="[name='include_past']">
        <label class="flex items-center text-text-primary dark:text-dark-text-primary">
            <input type="checkbox" name="include_past" {% if include_past %}checked{% endif %} class="h-4 w-4 text-text-blue border-light rounded dark:bg-dark-card-bg dark:border-dark-border dark:text-dark-text-blue" hx-get="{% url 'search_events' %}" hx-target="#events-list" hx-swap="outerHTML" hx-trigger="change">
            <span class="ml-2">Include Past Shows</span>
        </label>
    </form>
    <form method="post" action="{% url 'event_workers_report' %}" class="mb-4" id="report-form">
        {% csrf_token %}
        <div id="events-list">
            {% include 'callManager/events_list_partial.html' %}
        </div>
        <button type="submit" class="mt-4 bg-primary text-dark-text-primary p-2 rounded hover:bg-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary-hover">Generate Workers Report</button>
    </form>
</div>
{% endblock %}
