<button id="notification-button" 
    hx-get="{% url 'notifications' %}" 
    hx-trigger="click" 
    hx-target="#notification-dropdown" 
    hx-swap="outerHTML" 
    id="notification-dropdown" 
    class="px-3 py-1 text-tertiary rounded-full bg-danger dark:text-dark-tertiary dark:bg-dark-danger">
    <div id="notification-count"
         hx-get="{% url 'htmx_get_notification_count' %}"
         hx-trigger="notification-update from:body"
         hx-target="#notification-button"
         hx-swap="outerHTML">
        {{ count }}
    </div>
</button>
