{% with time_entry=labor_request.time_entries.first %}
<tr class="border-b dark:border-dark-border">
    <td class="p-2 text-text-primary dark:text-dark-text-primary">{{ labor_request.worker.name|default:"Unnamed Worker" }}</td>
    <td class="p-2 text-text-primary dark:text-dark-text-primary">{{ labor_request.labor_requirement.labor_type.name }}</td>
    <td class="p-2" id="time-entry-{{ time_entry.id }}-start_time">
    {% if time_entry.start_time %}
    <span class="text-text-primary dark:text-dark-text-primary cursor-pointer" 
          hx-get="{% url 'call_time_tracking_edit' call_time.slug %}?request_id={{ labor_request.id }}&field=start_time" 
          hx-target="#time-entry-{{ time_entry.id }}-start_time">
        {{ time_entry.start_time|date:"H:i" }}
    </span>

    {% else %}
    <button type="submit" class="bg-success text-dark-text-primary px-2 py-1 rounded hover:bg-success-hover dark:bg-dark-success dark:hover:bg-dark-success-hover"
            hx-post="{% url 'htmx_time_sheet_row' labor_request.id %}"
            hx-vals='{"action": "sign_in"}'
            hx-target="closest tr" 
            hx-swap="outerHTML"
            hx-trigger="click"
            hx-header="X-CSRFToken: {{ csrf_token }}">
            Sign In</button>
    {% endif %}
    </td>

    <td class="p-2" id="time-entry-{{ time_entry.id }}-end_time">
        {% if time_entry.end_time %}
        <span class="text-text-primary dark:text-dark-text-primary cursor-pointer" 
            hx-get="{% url 'call_time_tracking_edit' call_time.slug %}?request_id={{ labor_request.id }}&field=end_time" 
            hx-target="#time-entry-{{ time_entry.id }}-end_time">
            {{ time_entry.end_time|date:"H:i" }}
        </span>
        {% else %}
        <button type="submit" class="bg-danger text-dark-text-primary px-2 py-1 rounded hover:bg-danger-hover dark:bg-dark-danger dark:hover:bg-dark-danger-hover"
                hx-post="{% url 'htmx_time_sheet_row' labor_request.id %}"
                hx-vals='{"action": "sign_out"}'
                hx-target="closest tr" 
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-header="X-CSRFToken: {{ csrf_token }}">
                Sign Out</button>
        {% endif %}
    </td>
    <td class="p-2">
        {% if time_entry.meal_breaks.all %}
        {% for meal_break in time_entry.meal_breaks.all %}
        <div id="meal-break-{{ meal_break.id }}">
            <span class="text-text-primary dark:text-dark-text-primary cursor-pointer" 
                hx-get="{% url 'call_time_tracking_meal_edit' call_time.slug %}?meal_break_id={{ meal_break.id }}" 
                hx-target="#meal-break-{{ meal_break.id }}"
                hx-swap="innerHTML">
                {{ meal_break.break_time|date:"H:i" }} ({{ meal_break.break_type|capfirst }})
            </span>
        </div>
        {% endfor %}
        {% endif %}
        {% if time_entry.start_time %}
        <div class="flex items-center space-x-2">
                <select id="break-type-{{ labor_request.id }}" class="p-1 border rounded bg-card-bg text-text-tertiary dark:bg-dark-card-bg dark:text-dark-text-tertiary dark:border-dark-border">
                    <option value="paid">Paid 30</option>
                    <option value="unpaid">Unpaid 1hr</option>
                </select>
                <button class="bg-primary text-dark-text-primary px-2 py-1 rounded hover:bg-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary-hover"
                        hx-post="{% url 'htmx_time_sheet_row' labor_request.id %}"
                        hx-vals='js:{"action": "add_meal_break", "break_type": document.getElementById("break-type-{{ labor_request.id }}").value}'
                        hx-target="closest tr" 
                        hx-swap="outerHTML"
                        hx-trigger="click"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    Meal
                </button>
            </div>
        {% endif %}
    </td>
    <td class="p-2">
        {% if not time_entry.start_time %}
        <button type="submit" class="bg-purple text-dark-text-primary px-2 py-1 rounded hover:bg-purple-hover dark:bg-dark-purple dark:hover:bg-dark-purple-hover"
                hx-post="{% url 'htmx_time_sheet_row' labor_request.id %}"
                hx-vals='{"action": "ncns"}'
                hx-target="closest tr" 
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-header="X-CSRFToken: {{ csrf_token }}">
                NCNS</button>
        <button type="submit" class="ml-2 bg-secondary text-dark-text-primary px-2 py-1 rounded hover:bg-secondary-hover dark:bg-dark-secondary dark:hover:bg-dark-secondary-hover"
                hx-post="{% url 'htmx_time_sheet_row' labor_request.id %}"
                hx-vals='{"action": "call_out"}'
                hx-target="closest tr" 
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-header="X-CSRFToken: {{ csrf_token }}">
                callout</button>
        {% endif %}
    </td>
</tr>
{% endwith %}
