asgiref==3.8.1
attrs==25.3.0
av==14.2.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
Django==5.1.7
django-browser-reload==1.18.0
django-dotenv==1.4.2
django-htmx==1.23.0
django-phonenumber-field==8.0.0
django-tailwind==3.8.0
idna==3.10
Jinja2==3.1.6
mysqlclient==2.2.7
phonenumbers==9.0.1
pycparser==2.22
PyJWT==2.10.1
python-decouple==3.8
regex==2024.11.6
requests==2.32.3
sqlparse==0.5.3
tokenizers==0.21.1
twilio==9.5.1
urllib3==2.3.0
